@keyframes slideup {
    0% {
        background-image: url("../../photos/Icons/sun_landing_page_animation.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color:white;
        transform: translateY(-50%);
        transform: rotate(360deg);
    }
    5% {
        background-color:white;
    }

    12% {
        background-color:rgb(250, 250, 220);
    }
    21% {
        background-color:rgb(249, 231, 166);
    }
    24% {
        transform: rotate(180deg);
    }
    24% {
        transform: translateY(-50%);
    }
    26% {
        background-color: rgba(255, 255, 255, 0);
    }
    40% {
        background-color: rgba(255, 255, 255, 0);
    }
    48% {
        transform: translateY(-25%);
        transform: rotate(180deg);
        background-color: rgba(255, 255, 255, 0);
    }
    60% {
        background-color: rgba(255, 255, 255, 0);
    }
}

@keyframes trans {
    10% {
        background-color: rgba(255, 255, 255, 0);
    }
}

#startupdiv {
    position: fixed;

    align-content: center;
    align-self: center;
    background-position: center;

    height: 500vh;
    width: 100%;
    top: 0px;
    pointer-events: none;
    z-index: 2;

    animation: 9s ease-in-out 0s 1 slideup;
}

.presidentPhoto {
    float: left;
    width: 30%;
    
}

.presidentMessage {
    float: right;
    width: 65%;
    margin-left: 0%;
}

