.navgapA {
    margin-top: 115px;
}

.haccount {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 3.1vw;
    color: #001d3a;
    margin-top: 30px;
}

.graa {
    background-color: rgb(249, 247, 247);
}