/*
.container{
    display: flex;
    flex-direction: column;
    flex: 1 ;
    justify-content: 'center';
    align-items: 'center';
}

.setBorder{
    background-color: #001d3a;
   border: 5px solid white;
   text-align: center;
   color: white;
   
}

.h1{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 1.8em;
   text-align: center;
   line-height: 20px;
    font-weight: 'bold';
    color: #001d3a;
    vertical-align: 'middle';
    
}
.h2{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: .9em;
   text-align: center;
   line-height: 25px;
    font-weight: 'bold';
    color: white;
    vertical-align: 'middle';
}
.h3{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: .45em;
   text-align: center;
   line-height: 25px;
    font-weight: 'bold';
    color: white;
    vertical-align: 'middle';
}

.setFontSizePosition{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 1.2em;
    line-height: 30px;
    text-align: center;
}

.titleFont{
    font-family: "Times New Roman", Times, serif, monospace;
    font-size: 1.4em;
    line-height: 30px;
    text-align: center;
}

.row {
    display: flex;
    padding: 0 4px;
    text-align: center;
  }

.column{
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0 4px;
    text-align: center;
    margin: auto;
    justify-content: left inherit;
}
@media screen and (max-width: 945px){
    .column{
        flex: 50%;
        width: 50%;
        text-align: center;
        align-items: center;
        float: right;
    }
    .row {
        display: flex;
        padding: 0 4px;
        flex-wrap: wrap;

      }
}

@media screen and (max-width: 700px){
    .column{
        flex: 100%;
        max-width: 100%;
        text-align: center;
        align-items: center;
    }
    .row {
        display: flex;
        padding: 0 4px;
        flex-wrap : wrap;
      
      }
}*/

 .eBoardPage {
    width: 80%;
    margin: 30px auto;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    
  }
  
  
  .eBoardPerson {
    display: inline-block;
    margin-bottom: 8px;
    width: calc(33% - 6px);
    margin-right: 8px;
    text-decoration: none;
    color: black;
    text-align: center;
  }
  
  .eBoardPerson:nth-of-type(2n) {
    margin-right: 0;
  }
  
  /*
  @media screen and (min-width: 50em) {
    .eBoardPerson {
      width: calc(25% - 6px);
    }
    
    .eBoardPerson:nth-of-type(2n) {
      margin-right: 8px;
    }
    
    .eBoardPerson:nth-of-type(4n) {
      margin-right: 0;
    }
  }
*/

@media screen and (max-width: 1050px){
  .eBoardPerson {
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 4px);
    margin-right: 8px;
    text-decoration: none;
    color: black;
    text-align: center;
  }
}

@media screen and (max-width: 700px){
  .eBoardPerson {
    display: inline-block;
    margin-bottom: 8px;
    width: calc(100% - 4px);
    
    text-align: center;
    text-decoration: none;
    color: black;
    
  }
}

  .eBoardPerson2 {
    margin: 0;
    overflow: hidden;
  }
  
  .setFontSizeName {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    text-align: match-parent;
    line-height: 20px;
    font-weight: 'bold';
    color: #001d3a;
    margin-top: 15px;
  }

  .setFontSizePosition{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    line-height: 28px;
    text-align: match-parent;
    margin-top: 10px;
}
  
  .BoardPageImages {
    border: 6px solid #001d3a;
    width:  250px;
    height: 250px;
    display: block;
    background: #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  
  .flip-card {
    overflow: hidden;
    margin: 30px auto;
    background-color: transparent;
    width: 266px;
    height: 266px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    width: 266px;
  }

  .backSideText{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: white
  }

  .backSideTextSmall{
    font-family: 'Poppins', sans-serif;
    font-size: .5 em;
    line-height: 20px;
    color: white
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #001d3a;
    color: white;
    transform: rotateY(180deg);
  }

  .titleFont{
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
    line-height: 30px;
    text-align: center;
}